<!DOCTYPE html>
<html>
<head>
    <title>Rental Properties Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map { height: 600px; }
    </style>
</head>
<body>
    <h1>Rental Properties Map</h1>
    <div>
        <label for="destination">Destination:</label>
        <select id="destination">
            <option value="">Any</option>
        </select>

        <label for="min_price">Min Price:</label>
        <select id="min_price">
            <option value="">Any</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
        </select>

        <label for="max_price">Max Price:</label>
        <select id="max_price">
            <option value="">Any</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="500">500</option>
            <option value="750">750</option>
            <option value="1000">1000</option>
            <option value="1250">1250</option>
            <option value="1500">1500</option>
        </select>

        <label for="bedrooms">Bedrooms:</label>
        <select id="bedrooms">
            <option value="">Any</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <label for="bathrooms">Bathrooms:</label>
        <select id="bathrooms">
            <option value="">Any</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <button onclick="fetchProperties()">Filter</button>
    </div>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        // The latitude and longitude of the central Florida, USA is Latitude: 27.994402, Longitude: -81.760254
        // var map = L.map('map').setView([27.994402, -81.760254], 7);  // GOOD FULL FLORIDA VIEW
        var map = L.map('map').setView([26.994402, -81.760254], 7);  // A BIT MORE SOUTHERN FLORIDA VIEW

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        function fetchDestinations() {
            fetch('/api/destinations')
                .then(response => response.json())
                .then(data => {
                    var destinationSelect = document.getElementById('destination');
                    data.forEach(dest => {
                        var option = document.createElement('option');
                        option.value = dest;
                        option.textContent = dest;
                        destinationSelect.appendChild(option);
                    });
                });
        }

        function fetchProperties() {
            var bedrooms = document.getElementById('bedrooms').value;
            var bathrooms = document.getElementById('bathrooms').value;
            var min_price = document.getElementById('min_price').value;
            var max_price = document.getElementById('max_price').value;
            var destination = document.getElementById('destination').value;
            // var url = `/api/properties?bedrooms=${bedrooms}&bathrooms=${bathrooms}`;
            var url = `/api/properties?bedrooms=${bedrooms}&bathrooms=${bathrooms}&min_price=${min_price}&max_price=${max_price}&destination=${destination}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // Clear existing markers
                    map.eachLayer(layer => {
                        if (layer instanceof L.Marker) {
                            map.removeLayer(layer);
                        }
                    });
                    // Add new markers
                    data.forEach(property => {
                        L.marker([property.latitude, property.longitude])
                            // .bindPopup(`<b>${property.name}</b><br>${property.bedrooms} beds, ${property.bathrooms} baths`)
                            .bindPopup(`<b>${property.name}</b><br>${property.bedrooms} beds, ${property.bathrooms} baths<br>Price: $${property.price}<br>Rating: ${property.rating} (${property.rating_desc})<br>Reviews: ${property.num_reviews}<br>Sleeps: ${property.num_people}`)
                            .addTo(map);
                    });
                });
        }

        // Initial load
        fetchProperties();
        fetchDestinations();
    </script>
</body>
</html>
